<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>646966705010-6ahhleu5q96jj8o5936k2fco7e2oar1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646966705010-6ahhleu5q96jj8o5936k2fco7e2oar1f</string>
	<key>API_KEY</key>
	<string>AIzaSyAiT4gQSvEjnbnymBBRhJakAwjXVcwyNcg</string>
	<key>GCM_SENDER_ID</key>
	<string>646966705010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ZachCervi.HtchHkr</string>
	<key>PROJECT_ID</key>
	<string>htchhkr-35b07</string>
	<key>STORAGE_BUCKET</key>
	<string>htchhkr-35b07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646966705010:ios:42a2e8529d063341</string>
	<key>DATABASE_URL</key>
	<string>https://htchhkr-35b07.firebaseio.com</string>
</dict>
</plist>